<!-- templates/books.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>

</head>
<body>
<h1>Book List</h1>
<ul>
    {{range .Books}}
    <li>
        <img src="{{.Picture}}" alt="Cover of {{.Title}}" width="150" height="200">
        {{.Title}} by {{.Author}}
        ({{.PagesRead}}/{{.Pages}})
    </li>
    {{end}}
</ul>
<button onclick="deleteBook('{{.Title}}')">Delete</button>
<button onclick="editProgress('{{.Title}}')">Edit Progress</button>
<button onclick="addBook()">Add Book</button>

<script>
    function addBook() {
        window.location.href = "/addbook";
    }

    function deleteBook() {
        window.location.href = "/delete";
    }

    function editProgress() {
        window.location.href = "/update";
    }
</script>
</body>
</html>
